@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
	font-family: magistral;
	src: url("https://use.typekit.net/af/7bdb0c/0000000000000000000100b9/27/l?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3")
			format("woff2"),
		url("https://use.typekit.net/af/7bdb0c/0000000000000000000100b9/27/d?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3")
			format("woff"),
		url("https://use.typekit.net/af/7bdb0c/0000000000000000000100b9/27/a?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3")
			format("opentype");
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: magistral;
	src: url("https://use.typekit.net/af/026de5/0000000000000000000100b8/27/l?fvd=n3&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3")
			format("woff2"),
		url("https://use.typekit.net/af/026de5/0000000000000000000100b8/27/d?fvd=n3&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3")
			format("woff"),
		url("https://use.typekit.net/af/026de5/0000000000000000000100b8/27/a?fvd=n3&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3")
			format("opentype");
	font-display: swap;
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: magistral;
	src: url("https://use.typekit.net/af/5ce52a/0000000000000000000100bb/27/l?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3")
			format("woff2"),
		url("https://use.typekit.net/af/5ce52a/0000000000000000000100bb/27/d?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3")
			format("woff"),
		url("https://use.typekit.net/af/5ce52a/0000000000000000000100bb/27/a?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3")
			format("opentype");
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}
body {
	font-family: "Roboto";
	color: #5e4f63;
}
body p {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.014em;
}
body h1 {
	font-family: "Magistral";
	font-weight: 300;
	font-size: 21px;
	letter-spacing: 6.5px;
	text-transform: uppercase;
	line-height: 34px;
	color: #250d2e;
}
body h2,
body h3,
body .caption-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.12em;
}
body a {
	color: #680ce9;
}
body a:hover {
	color: #4708a0;
}
.document li {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.65px;
	color: #6c5b72;
}
.wy-nav-side {
	background-color: #faf7fc;
	box-shadow: 0 0 6px rgba(37, 13, 46, 0.08);
}
.wy-side-scroll {
	background-color: #faf7fc;
	box-shadow: 0 0 6px rgba(37, 13, 46, 0.08);
}
.wy-menu-vertical li.current {
	background-color: #faf7fc !important;
}
.wy-menu-vertical p.caption {
	padding: 0;
}
.wy-menu-vertical span {
	color: #381e42;
	margin-left: 45px;
	padding-left: 0;
	padding-right: 0;
}
.wy-menu-vertical li.toctree-l1.current > a {
	border: none;
	color: #680ce9 !important;
}
.wy-menu-vertical li.toctree-l1.current > a:hover {
	background-color: #faf7fc;
	font-weight: bold;
}
.wy-menu-vertical li.toctree-l1 a {
	background-color: #faf7fc !important;
	color: #381e42 !important;
	margin-left: 45px;
	padding-left: 0;
	padding-right: 0;
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.014em;
}
.wy-menu-vertical li.toctree-l1 a:hover {
	background-color: #faf7fc;
	color: #680ce9 !important;
}
.wy-menu-vertical li.toctree-l2 a {
	background-color: #faf7fc !important;
}
.wy-menu-vertical li.toctree-l2 a:hover {
	background-color: #faf7fc;
	color: #680ce9 !important;
}
.wy-menu-vertical li.toctree-l3 a {
	background-color: #faf7fc !important;
}
.wy-menu-vertical li.toctree-l3 a:hover {
	background-color: #faf7fc;
	color: #680ce9 !important;
}
.wy-side-nav-search {
	background-color: #faf7fc;
	padding: 60px 49px 0 40px;
}
.wy-side-nav-search a {
	font-family: Magistral;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.24em;
	text-transform: uppercase;
	color: #5e4f63;
	margin-bottom: 0;
	padding: 0;
}
.wy-side-nav-search input[type="text"] {
	border: 1px solid #ece9f0;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: none;
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.65px;
}
.wy-side-nav-search a img.logo {
	margin: 0;
}
.wy-side-nav-search:after {
	font-family: "FontAwesome";
	content: "\f002";
	position: absolute;
	top: 130px;
	left: 220px;
	color: #ae9fb4;
}
.rst-versions .rst-current-version {
	background-color: #faf7fc;
	color: #680ce9;
}
.rst-versions .rst-current-version .fa-book {
	color: #381e42;
}
.wy-nav-content {
	max-width: 100%;
}
.wy-breadcrumbs li {
	color: #5e4f63;
	font-size: 14px;
}
.wy-breadcrumbs li a {
	color: #ae9fb4;
}
.wy-breadcrumbs li a:hover {
	color: #680ce9;
}
.rst-content pre {
	background-color: #faf7fc;
	border: 1px solid #d1c9d4;
	box-sizing: border-box;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.014em;
	color: #5e4f63;
}
.btn {
	background: #ffffff !important;
	color: #680ce9 !important;
	border: 1px solid #680ce9;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 16px 8px;
	width: 100px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.btn:visited {
	color: #680ce9 !important;
}
.btn:hover {
	color: #ffffff !important;
	background-color: #680ce9 !important;
}
.btn:active {
	background: #4708a0 !important;
	color: #ffffff !important;
}
.btn:focus {
	box-sizing: border-box;
	outline: 2px solid rgba(104, 12, 233, 0.5);
}
.fa-arrow-circle-left:before {
	content: "\f060";
}
.fa-arrow-circle-right:before {
	content: "\f061";
}
.rst-content dl:not(.docutils) dt {
	background: #faf7fc;
	border-top: 4px solid #680ce9;
	color: #680ce9;
	font-weight: 500;
}
.rst-content dl:not(.docutils) dt code {
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.014em;
	color: #5e4f63;
}
.rst-content dl:not(.docutils) dl dt {
	background: #faf7fc;
	color: #5e4f63;
	border-left: 3px solid #381e42;
}
.rst-content code {
	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.014em;
	border: 1px solid #d1c9d4;
	box-sizing: border-box;
	color: #5e4f63 !important;
	padding: 6px 8px;
}
.wy-menu-vertical li.current > a span.toctree-expand:before {
	content: "\f077";
	position: absolute;
	right: 49px;
	line-height: 24px;
}
.wy-menu-vertical li span.toctree-expand::before {
	content: "\f078";
	position: absolute;
	right: 49px;
	line-height: 24px;
}
.icon-home:before {
	content: none;
}
.wy-side-nav-search > a {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.wy-side-nav-search > a.icon img.logo {
	margin: 0;
	padding: 0;
}
.rst-versions .rst-current-version .fa-book {
	color: #5e4f63;
}
.rst-versions .rst-current-version .fa-book:before {
	color: #680ce9;
}
