@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700&display=swap");

@font-face {
    font-family: magistral;
    src: url("https://use.typekit.net/af/7bdb0c/0000000000000000000100b9/27/l?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3") format("woff2"), url("https://use.typekit.net/af/7bdb0c/0000000000000000000100b9/27/d?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3") format("woff"), url("https://use.typekit.net/af/7bdb0c/0000000000000000000100b9/27/a?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: magistral;
    src: url("https://use.typekit.net/af/026de5/0000000000000000000100b8/27/l?fvd=n3&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3") format("woff2"), url("https://use.typekit.net/af/026de5/0000000000000000000100b8/27/d?fvd=n3&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3") format("woff"), url("https://use.typekit.net/af/026de5/0000000000000000000100b8/27/a?fvd=n3&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: magistral;
    src: url("https://use.typekit.net/af/5ce52a/0000000000000000000100bb/27/l?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3") format("woff2"), url("https://use.typekit.net/af/5ce52a/0000000000000000000100bb/27/d?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3") format("woff"), url("https://use.typekit.net/af/5ce52a/0000000000000000000100bb/27/a?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}
body {
    font-family: "Roboto";
}
body p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.014em;
}
body h1 {
    font-family: "Magistral";
    font-weight: 300;
    font-size: 21px;
    letter-spacing: 6.5px;
    text-transform: uppercase;
    line-height: 34px;
    color: #250D2E;
}
body h2,
body h3,
body .caption-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}
a {
    color: #680CE9;
}
a:hover {
    color: #4708A0;
}
.wy-nav-side {
    background-color: #FAF7FC;
    box-shadow: 0 0 6px rgba(37, 13, 46, 0.08);
}
.wy-side-scroll {
    background-color: #FAF7FC;
    box-shadow: 0 0 6px rgba(37, 13, 46, 0.08);
}
.wy-side-scroll a {
    color: #381E42;
    padding-left: 0;
    padding-right: 0;
}
.wy-menu-vertical a {
    color: #381E42;
    margin-left: 45px;
    padding-left: 0;
    padding-right: 0;
}
.wy-menu-vertical p.caption {
    padding: 0;
}
.wy-menu-vertical span {
    color: #381E42;
    margin-left: 45px;
    padding-left: 0;
    padding-right: 0;
}
.wy-side-nav-search {
    background-color: #FAF7FC;
    padding: 60px 49px 0 40px;
}
.wy-side-nav-search a {
    font-family: "Magistral";
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.24em;
    margin-bottom: 0;
}
.wy-side-nav-search input[type="text"] {
    border: 1px solid #ECE9F0;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: none;
}
.rst-versions .rst-current-version {
    background-color: #FAF7FC;
    color: #680CE9;
}
.rst-versions .rst-current-version .fa-book {
    color: #381E42;
}
.wy-nav-content {
    max-width: 100%;
}
.wy-breadcrumbs li {
    color: #5E4F63;
    font-size: 14px;
}
.wy-breadcrumbs li a {
    color: #AE9FB4;
}
.rst-content pre {
    background-color: #FAF7FC;
    border: 1px solid #D1C9D4;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.014em;
    color: #5E4F63;
}
.btn {
    background: #ffffff!important;
    color: #680CE9;
    border: 1px solid #680CE9;
    box-sizing: border-box;
    border-radius: 4px;
}
